<?xml version="1.0" encoding="utf-8" ?>
	<configuration>
		<connectionStrings>
			<add name="DVDConnection" connectionString="Server=db-2024-jreigner5040.cnsalab.net;Database=dvdrental1;User Id=jreigner5040;Password=veRk8PgJGvBRXrUY5cdm;" providerName="Npgsql" />
		</connectionStrings>
	</configuration>
